<main>
  <div class="container body-content span=8 offset=2">
    <div class="well">
      <form class="form-horizontal" th:action="@{/forgotPassword}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <fieldset>
          <legend>Forgot Password</legend>

          <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
          </div>

          <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
          </div>

          <div class="text-center">
            <p>We will be sending a reset password link to your email.</p>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label" >New Password</label>
            <div class="col-sm-4 ">
              <input class="form-control" type="email" name="email"  placeholder="Enter your e-mail" required="required"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              <a class="btn btn-default" th:href="@{/}"
              >Cancel</a>
              <input type="submit" value="Send" class="btn btn-primary"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>